{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Reddit Comment Prediction</h1>
</div>
<p class="lead">
    Put stuff here.
</p>


<div class="footer navbar-fixed-bottom" style="text-align: center;">
<h3 id="changeText" ></h3>
</div>
    <script type="text/javascript">
    var text = {{context|safe}};
    var counter = 0;
    var elem = document.getElementById("changeText");
    setInterval(change, 3000);
    function change() {
     elem.innerHTML = text[counter].replace("|", "<br />");
        counter++;
        if(counter >= text.length) { counter = 0; }
    }
    </script>



{% endblock %}
